body {
    font-family: 'Roboto', sans-serif;
  }
  .bgParagraf {
    position: absolute;
    margin: 40px;
    margin-top: 70px;
    float: left;
    color: #aa9a08;
    padding: 9px;
    border-radius: 10px;
    background-color: #43412b;
    text-align: center;
  }
  .banner{
  background: url("images/bg1.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  }
  .navbar {
    overflow: hidden;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  footer {
    background-color: #333333;
    left: 0;
    bottom: 0;
    width: 100%;
  }
 
  .stats {
  background: url(images/bg1.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}
.stats-main {
  background: rgba(255, 255, 255, 0.18);
  padding: 10px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .3);
}
.banner {
background: url(images/bg1.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size:cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}
.stats-main1 {
  background: rgba(255, 255, 255, 0.18);
  padding: 10px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .3);
}
.bg2 {
background: url(images/bg3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}
.bg2-main1 {
  background: rgba(255, 255, 255, 0.18);
  padding: 10px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .3);
}
.bg4 {
background: url(images/bg3.jpg) no-repeat center;
}
.card-text{
color: white;
}
.card-title{
color: white;
}

div#galeri img { 
height: 300px;
width: 100%;
object-fit: cover;
object-position: top;
display: block;
}
div#galeri img { 
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  }
#galeri li  {
   list-style-type:none;
   }

   .blog-left a {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    color: #473B3B;
    text-decoration: none;
  }

  .blog-left a.b-img img {
    width: 100%;
    height: auto;
    margin: 1em 0;
    object-fit: cover;
  }

  .blog-left p {
    font-size: 14px;
    margin: 0 0 1em 0;
    color: #473B3B;
    line-height: 1.8em;
  }

  .blog-left a.more {
    color: #bd4932;
    font-size: 14px;
    text-decoration: none;
    font-style: italic;
  }


  .card * {
    color: #fff !important;
}


.kendikartimiz {
  box-shadow: 3px 3px 10px #87ceeb70;
  margin: 1em;
  padding: .5em;
  transition: all .5s;
}

.kendikartimiz:hover {
  box-shadow: 3px 3px 5px skyblue;
  transition: all .5s;
  transform: translateY(-3px);
}

.kendikartimiz img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.kendikartimiz small {
  font-size: 0.8em;
  display: block;
  text-align: right;
}

.kendikartimiz .baslik {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
} 